**/__pycache__/
**/.pytest_cache/
*.pdf
*.pptx
*.private
.vscode
*.zip
*.tar.gz
node_modules/
advanced-cs/advanced-math/linear-algebra/spinningCube/*
!advanced-cs/advanced-math/linear-algebra/spinningCube/tryingOutSdl1/main.cpp
!advanced-cs/advanced-math/linear-algebra/spinningCube/README.md
!advanced-cs/advanced-math/linear-algebra/spinningCube/spinningCube.gif
vcpkg_installed/
CmakeUserPresets.json
build/
out/
.xml
*.iml
.idea 
*.jar
*.pom
private/*
*:Zone.Identifier

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.tmp
*.log
*.user
*.tlog
*.pdb
*.ipdb
*.iobj

# Compiled data
*.dll
*.exe
*.lib
*.app
*.dylib
*.so

# OS junk
.DS_Store
Thumbs.db

